/*imported forms*/



@font-face{
font-family:'Cubano-regular-webfont';
src:url('../fonts/Cubano-regular-webfont.svg');
}

@font-face{
font-family:'Roboto-Light';
src:url('../fonts/Roboto-Light.ttf');
}

body{
	font-family: 'Roboto-Light',helvetica,arial,sans-serif;
	background: #f3f7fa
}
.property-listing{
	margin-bottom: 15%;

}

.navbar{
	font-family: 'Cubano-regular-webfont',helvetica,arial,sans-serif;
	background: #927499;
}

.navbar a{
	color: #fafafa;

}

.property-status{
	font-size:250px;
}

.login-form{

	margin:5% auto;
}

.search{
	padding: 1%;
	align-self: center;
	margin-left: 2%;
}


a{
	color:#000000;
}


.navbar-brand{
	color:#fafafa;
	font-size:bolder;
	font-family: 'Monospace';
}

.nav li:hover, .nav li:focus {
	background: #fafafa;
	color: #927499;
}

.nav li > a:hover{
	color: #927499;
	background: #000;
}

.icon-bar{
	background: #fafafa;
}

.my-alert p{
	padding: 3%;
	border-radius: 8px;
}

.user-listing li{
	list-style: none;
}


.action-icon{
	font-size: 350%;
	text-align: center;
	margin-bottom: 5%;
}


.user-listing li a:hover,.user-listing li a:focus,.breadcrumb a:hover{
color: #ee3853;
text-decoration: none;
}

 .breadcrumb a:hover{
text-decoration: none;
}

label{
	color:#ee3853 ;
}

.carousel{
	height: 250px;
}

.carousel .item{
	height:100%;
}
